@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input,
button,
textarea {
  all: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  all: unset;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-text-fill-color: inherit;
  color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}

select:focus {
  outline: none;
}